{% extends "modelagem/base.html" %}

{% block body %}
{% load static %}

<div class="upload-form">
    <h2><b>Upload</b></h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="proteina"><strong>Proteina para ser analisada:</strong></label>
        <input type="file" name="proteina">

        <label for="cadeiaS"><strong>| Cadeia Sequência:</strong></label>
        <input type="text" MAXLENGTH=1 style="width: 25px;" name="cadeiaS" id="cadeiaS"><br>

        <label for="arquivo"><strong>Insira o arquivo referência:</strong></label>
        <input type="file" name="documento">

        <label for="cadeiaT"><strong>| Cadeia Template:</strong></label>
        <input type="text" MAXLENGTH=1 style="width: 25px;" name="cadeiaT" id="cadeiaT">

    <button onclick="myFunction();" type="submit">Upload File</button>

    </form>
<!-- 
    <ul class="prot-list"> 
        {% for diretorio in diretorios %}
            <li class="prot-item">
                <span><a href="{ids}">{{diretorio}}</a></span>
            
            </li>
            {% empty %}
                <li class="prot-item"> Lista Vazia</li>
        {% endfor %}
    </ul> -->


    <ul class="prot-list"> 

    </ul>

    <div id="loader"></div>

</div>

<script>
    function myFunction() {
        $("#loader").css('display','block');
        $("#carregando").css('display', 'block');
    }


    $.ajax({
          method: "POST",
          url: "gerarLista",
          data: 
          { 
            csrfmiddlewaretoken: '{{ csrf_token }}' 
          },
          success: function(data){
            $('.prot-list').append(data['listaUL']);
          }  
        })
    
</script>

<!-- {% if resultado %}

    <script>
        
        document.addEventListener("DOMContentLoaded", function () {
        var stage = new NGL.Stage("viewport");
        var stage1 = new NGL.Stage("viewport1");
        var stage2 = new NGL.Stage("viewport2");
        var stage3 = new NGL.Stage("viewport3");

        window.addEventListener("resize", function (event) {
            stage.handleResize();
            stage1.handleResize();
            stage2.handleResize();
            stage3.handleResize();
        }, false);

        //stage.loadFile("rcsb://1crn", {defaultRepresentation: true});
        stage.loadFile("media/4hpg.pdb", { defaultRepresentation: true });
        stage1.loadFile("media/beta_glucosidase.fasta.B99990001.pdb", { defaultRepresentation: true });
        stage2.loadFile("media/beta_glucosidase.fasta.B99990002.pdb", { defaultRepresentation: true });
        stage3.loadFile("media/beta_glucosidase.fasta.B99990003.pdb", { defaultRepresentation: true });

        });



        function Bloquear(){
        var acao = $('#valor_scroll').val();
        //alert(acao);
        if(acao == 0){
            $('html').css('overflow', 'hidden');
            $('#valor_scroll').val('1');
            $('.block').html('Desbloquear Scroll');

        }
        else{
            $('html').css('overflow', '');
            $('#valor_scroll').val('0');   
            $('.block').html('Bloquear Scroll');
        }
    }

    function fullScreen(){
        $('#viewport').css('width', '100%');
        $('#viewport').css('height', '100%');
    }

    $.ajax({
          method: "POST",
          url: "teste",
          data: 
          { 
            csrfmiddlewaretoken: '{{ csrf_token }}' 
          },
          success: function(data){

            $('#template').html(data['teste']);
            $('#modelo').html(data['modelo']);
            $('#modelo1').html(data['modelo1']);
            $('#modelo2').html(data['modelo2']);

          }  
        })
    

    
        function showPage() {
            $("#myDiv").css('display', 'block');
            $("#loader").css('display', 'none');
            $("#carregando").css('display', 'none'); 
        }
    </script>

    <div style="display:none;" id="myDiv">
        <div class="invi" style="width: 100%;">
            <input type="text" id="valor_scroll" value="0" hidden>
        
            <div style="height: 300px; background-color: white;">
                <div style="width: 400px; float: left;">
                    <div id="viewport" style="width:400px; height:300px;"></div>
                </div>
                <div style="background-color: white; width: 70%; float:right;">
                    <b>Template:</b>
                    <textarea disabled style="width: 100%;" name="" id="template" cols="30" rows="10"></textarea>
                    <button  class="block" onclick="Bloquear();">Bloquear Scroll</button> 
                     <button class="fs_1" onclick="fullScreen();">Tela Cheia</button>  
                </div>
            </div>
        
            <div style="height: 300px; background-color: white;">
                <div style="width: 400px; float: left;">
                    <div id="viewport1" style="width:400px; height:300px;"></div>
                </div>
                <div style="background-color: white; width: 70%; float:right;">
                    <b>Modelo 1:</b>
                    <textarea disabled style="width: 100%;" name="" id="modelo" cols="30" rows="10"></textarea>
                    <button  class="block" onclick="Bloquear();">Bloquear Scroll</button> 
                    <button class="fs_1" onclick="fullScreen();">Tela Cheia</button> 
                </div>
            </div>
        
            <div style="height: 300px; background-color: white;">
                <div style="width: 400px; float: left;">
                    <div id="viewport2" style="width:400px; height:300px;"></div>
                </div>
                <div style="background-color: white; width: 70%; float:right;">
                    <b>Modelo 2:</b>
                    <textarea disabled style="width: 100%;" name="" id="modelo1" cols="30" rows="10"></textarea>
                    <button  class="block" onclick="Bloquear();">Bloquear Scroll</button> 
                    <button class="fs_1" onclick="fullScreen();">Tela Cheia</button>  
                </div>
            </div>
        
            <div style="height: 300px; background-color: white;">
                <div style="width: 400px; float: left;">
                    <div id="viewport3" style="width:400px; height:300px;"></div>
                </div>
                <div style="background-color: white; width: 70%; float:right;">
                    <b>Modelo 3:</b>
                    <textarea disabled style="width: 100%;" name="" id="modelo2" cols="30" rows="10"></textarea>
                    <button  class="block" onclick="Bloquear();">Bloquear Scroll</button> 
                    <button class="fs_1" onclick="fullScreen();">Tela Cheia</button> 
                </div>
            </div>
        
        </div>

        <script> 
            showPage();
        </script>
    </div>

{% endif %} -->
    <!-- <button id="btn-barra" onclick="barra()" data-valor="1" style="position: fixed; margin-left: 87%;">Bloquear/Desbloquear Barra</button> -->

{% endblock %}