{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Proteinas</title>
    <link href="{% static 'css/mycss.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/3f82430996.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/ngl.js' %}" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body class="fundo">
        <!-- Barra de Navegação -->
        <nav class="navbar navbar-light bg-light">
            <span><a class="navbar-brand mb-0 h1" href="{% url 'index' %}"><img id="icon-dna" src="{% static 'img/dna4.jpg' %}" alt=""> Projeto Beta TCC</a></span>
        </nav>

        {% block body %}


        {% endblock %}

        <!-- <div id="rodape">   
            <footer>
                <p>Teste</p>
            </footer>
        </div>
        -->
        <div id="carregando" style="height: 654px; width: 100%; display: none; position: fixed; top: 0;" class="funcaoLoading">
        </div>
</body>
</html>