{% extends "modelagem/base.html" %}

{% block body %}
    <div class="info-prot">
        <button class="btn-voltar" onclick='window.location.href = "/listaProteina" ';>Voltar</button>
        <h1>ID: <span class="title-prot">{{prot.id}}</span> - Proteina: <span class="title-prot">{{prot.titulo}} </span> </h1> 
        <span><b>{{prot.cabecalho}}</b></span>
        <br>
        <span><b>{{prot.sequencia}}</b></span>
    </div>

    <div class="info-prot">
        <h2>Taxa de Aparição:</h2>
        <span><b>{{dados}}</b></span>
    </div>

    <div class="info-prot grafico">
        <h2>Representação Gráfica:</h2>
        <div style="text-align: center;">
            <div class='grafic-info' style='background-color:rgba(0, 0, 0, {{transparencia.A}}')><p >{{dados.A}} - A</p></div>
            <div class='grafic-info' style='background-color:rgba(0, 0, 0, {{transparencia.R}}')><p >{{dados.R}} - R</p></div>
            <div class='grafic-info' style='background-color:rgba(0, 0, 0, {{transparencia.N}}')><p >{{dados.N}} - N</p></div>
            <div class='grafic-info' style='background-color:rgba(0, 0, 0, {{transparencia.D}}')><p >{{dados.D}} - D</p></div>
            <div class='grafic-info' style='background-color:rgba(0, 0, 0, {{transparencia.E}}')><p >{{dados.E}} - E</p></div>
            <div class='grafic-info' style='background-color:rgba(0, 0, 0, {{transparencia.C}}')><p >{{dados.C}} - C</p></div>
            <div class='grafic-info' style='background-color:rgba(0, 0, 0, {{transparencia.G}}')><p >{{dados.G}} - G</p></div>
            <div class='grafic-info' style='background-color:rgba(0, 0, 0, {{transparencia.Q}}')><p >{{dados.Q}} - Q</p></div>
            <div class='grafic-info' style='background-color:rgba(0, 0, 0, {{transparencia.H}}')><p >{{dados.H}} - H</p></div>
            <div class='grafic-info' style='background-color:rgba(0, 0, 0, {{transparencia.I}}')><p >{{dados.I}} - I</p></div>
            <div class='grafic-info' style='background-color:rgba(0, 0, 0, {{transparencia.L}}')><p >{{dados.L}} - L</p></div>
            <div class='grafic-info' style='background-color:rgba(0, 0, 0, {{transparencia.K}}')><p >{{dados.K}} - K</p></div>
            <div class='grafic-info' style='background-color:rgba(0, 0, 0, {{transparencia.M}}')><p >{{dados.M}} - M</p></div>
            <div class='grafic-info' style='background-color:rgba(0, 0, 0, {{transparencia.F}}')><p >{{dados.F}} - F</p></div>
            <div class='grafic-info' style='background-color:rgba(0, 0, 0, {{transparencia.P}}')><p >{{dados.P}} - P</p></div>
            <div class='grafic-info' style='background-color:rgba(0, 0, 0, {{transparencia.S}}')><p >{{dados.S}} - S</p></div>
            <div class='grafic-info' style='background-color:rgba(0, 0, 0, {{transparencia.Y}}')><p >{{dados.Y}} - Y</p></div>
            <div class='grafic-info' style='background-color:rgba(0, 0, 0, {{transparencia.T}}')><p >{{dados.T}} - T</p></div>
            <div class='grafic-info' style='background-color:rgba(0, 0, 0, {{transparencia.W}}')><p >{{dados.W}} - W</p></div>
            <div class='grafic-info' style='background-color:rgba(0, 0, 0, {{transparencia.V}}')><p >{{dados.V}} - V</p></div>
        </div>
    </div>
{% endblock %}