{% extends "modelagem/base.html" %}

{% block body %}
    <div class="offset-1 col-10 list-div"> 
        <h1>Lista de Proteinas</h1>
        <br>
        <a id="add-link" href="newbutton/">
            <div>
                <i class="btn btn-success"> Adicionar DNA </i>
            </div>
        </a>
        <ul class="prot-list"> 
            {% for dna in dnas %}
                <li class="prot-item">
                    <span><a href="{% url 'infoDNA' dna.id %}">{{dna.titulo}}</a></span>
                    
                    <a href=""><span><i class="fas fa-trash"></i></span></a> 
                    
                    <a href=""><span><i class="fas fa-edit"></i> </span> </a> 
                </li>
                {% empty %}
                    <li class="prot-item"> Lista Vazia</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
