{% extends "modelagem/base.html" %}

{% block body %}
    <div class="conteudo">
        <div class="primeiroDado">
            <div><span class="info-dado"><b>Primeira Sequência</b></span></div>
            <form method="POST">
              {% csrf_token %}
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Cabeçalho</span>
                  </div>
                  <input type="text" name="nome1" class="form-control" aria-label="Cabeçalho ou Nome da Sequência">
                </div>
                
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Sequência</span>
                  </div>
                  <textarea class="form-control" name="sequencia1" aria-label="Conteúdo da Sequência"></textarea>
                </div>

          </div>

          <div class="segundoDado">
              <div><span class="info-dado"><b>Segunda Sequência</b></span></div>

              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Cabeçalho</span>
                  </div>
                  <input type="text" name="nome2" class="form-control" aria-label="Cabeçalho ou Nome da Sequência">
              </div>
                
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Sequência</span>
                </div>
                <textarea class="form-control" name="sequencia2" aria-label="Conteúdo da Sequência"></textarea>
              </div>
          </div>

          <center> <button type="submit" class="btn btn-primary">Alinhar</button> </center>

      </form>
      <!-- <button class="btn btn-primary">Gerar RNA Equivalente</button> -->
        {% if resultado %}
          <div class="resultado"><span class="row-resultado"><b>Resultado do Alinhamento</b></span></div>

          <div class="conteudo2">
            <div class="primeiroDado">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Cabeçalho</span>
                  </div>
                  <input type="text" value="{{dados.nome1}}" id="rst-dado1" class="form-control" aria-label="Cabeçalho ou Nome da Sequência" disabled>
              </div>
                
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Sequência</span>
                </div>
                <textarea class="form-control" id="rst-sequencia1" aria-label="Conteúdo da Sequência" disabled>{{dados.sequencia1}}</textarea>
              </div>
            </div>

          <div class="segundoDado">

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Cabeçalho</span>
                </div>
                <input type="text" id="rst-dado2" value="{{dados.nome2}}" class="form-control" aria-label="Cabeçalho ou Nome da Sequência" disabled>
            </div>
              
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Sequência</span>
              </div>
              <textarea class="form-control" id="rst-sequencia2" aria-label="Conteúdo da Sequência" disabled>{{dados.sequencia2}}</textarea>
            </div>

          </div>
          <!-- <div class="resultado"><span class="row-resultado"><b>Matriz comparação (Teste)</b></span>
            <p><b>{{resultado}}</b></p>
          </div> -->

        </div>
      </div>

      <div class="legenda">
        <div class="legenda1"><p><b>Legenda: M: <span style="color: green;" >Match</span> D: <span style="color: red;">Diferente</span></b></p></div>
        <div class="legenda2">  
          <button class="btn btn-primary fa fa-pencil-square-o" onclick="Alinhamento()">Alinhamento</button>
          <button class="btn btn-primary fa fa-eye" onclick="funcaoBlastp()">Blastp</button> 
          <button class="btn btn-primary fa fa-pencil-square-o" onclick="testeAjaxJason()">Detalhar</button>
        </div>
      </div>

      <br>
      <br>
      
      <div style="width: 100%; background-color: black; text-align: center;"><span class="row-resultado"><b>Funções</b></span></div>

      <div id="detalhar">
      </div>

      <br>
    
      <div class="detalhar_seq">
        <div id="parte1">
        </div>

        <div id="parte2">
        </div>

      </div>


      <br>
      
      <div class="detalhar_seq2">

        <div style="width: 100%; background-color: black; text-align: center;"><span class="row-resultado"><b>Alinhamento - Blastp*</b></span></div>

        <!-- <div id="teste2">
          <div style="width: 67%; background-color: black; text-align: center; margin-bottom: 10px;"><span class="row-resultado"><b>Sobreposição (Simulação)</b></span></div>
        </div> -->

        <!-- <div id="teste3">
          <div style="width: 67%; background-color: black; text-align: center; margin-bottom: 10px;"><span class="row-resultado"><b>Blastp*</b></span></div>
        </div> -->
      </div>
    {% endif %}

    <script>

      function Detalhar(){
        
        var dado1 = $('#rst-sequencia1').val();
        var dado2 = $('#rst-sequencia2').val();

        var x = 0;
        // Utilizo a sequencia 1 e crio as informações a partir dela
        comparacao = '';
        
        tamanho1 = dado1.length;
        tamanho2 = dado2.length;

        console.log(tamanho1, tamanho2);


        if (tamanho1 > tamanho2){
          for(x = 0; x < tamanho1; x++){
            if(dado1[x] == dado2[x]){
              comparacao += '<span class="verde">'+dado1[x]+'</span>';
            }
            else{
              comparacao += '<span class="vermelho">'+dado1[x]+'</span>';
            }
          }
        }
        else{
          for(x = 0; x < tamanho2; x++){
            if(dado1[x] == dado2[x]){
              comparacao += '<span class="verde">'+dado2[x]+'</span>';
            }
            else{
              comparacao += '<span class="vermelho">'+dado2[x]+'</span>';
            }
          }          
        }


        $('#detalhar').append(comparacao);
        $('#detalhar').css('display', 'block');
      }

      function testeAjaxJason(){

        var sequencia1 = $('#rst-sequencia1').val();
        var sequencia2 = $('#rst-sequencia2').val();
  
        tamanho1 = sequencia1.length;
        tamanho2 = sequencia2.length;

        console.log(tamanho1, tamanho2);


        $.ajax({
          method: "POST",
          url: "comparar",
          data: 
          { 
            act: "teste", 
            sequencia1: sequencia1,
            sequencia2: sequencia2,
            tamanho1: tamanho1,
            tamanho2: tamanho2,
            csrfmiddlewaretoken: '{{ csrf_token }}' 
          },
          success: function(data){
            //console.log(data['seq1']);
            //console.log(data['seq2']);
            $(".detalhar_seq").css('display', 'block');
            $("#parte1").append('<div style="font-family: monospace;"><span style="color: white;"><b>Alinhamento Detalhado das Sequências a partir do Back End Django | Comparação 1:</b></span><br>' + data['comparacao1'] + '</div>');
            $("#parte1").append('<div>' + data['aparicao'] + '</div>');
            $("#parte1").append('<div>' + data['porcentagem'] + '</div>');
            $("#parte1").append('<div><span style="color: white;"><b> Tamanho da Sequência: </b>' + data['tamanho'] + '</span></div>');
            $("#parte2").append('<div style="font-family: monospace;"><span style="color: white;"><b>Alinhamento Detalhado das Sequências a partir do Back End Django | Comparação 2:</b></span><br>' + data['comparacao2'] + '</div><br>');
            $("#parte2").append('<div>' + data['aparicao2'] + '</div>');
            $("#parte2").append('<div>' + data['porcentagem2'] + '</div>');
            $("#parte2").append('<div><span style="color: white;"><b> Tamanho da Sequência: </b>' + data['tamanho2'] + ' </span></div>');

            // $("#teste2").append('<div style="font-family: monospace;"><span><b>Simulação: </b></span>' + data['teste3'] + '</div>');
          }  
        })

      }

      function funcaoBlastp(){
        var sequencia1 = $('#rst-sequencia1').val();
        var sequencia2 = $('#rst-sequencia2').val();
  
        tamanho1 = sequencia1.length;
        tamanho2 = sequencia2.length;

        $.ajax({
          method: "POST",
          url: "blastp",
          data: 
          { 
            act: "blastp", 
            sequencia1: sequencia1,
            sequencia2: sequencia2,
            tamanho1: tamanho1,
            tamanho2: tamanho2,
            csrfmiddlewaretoken: '{{ csrf_token }}' 
          },
          success: function(data){
            $(".detalhar_seq2").css('display', 'block');

            html = ''

            $(".detalhar_seq2").append('<div class="teste3" style="font-family: monospace;"><span style="color: white;"><b>Blastp: </b></span><br>' + data['blast'] + '</div><br>');
            
          
          }  
        })

      }

      function Alinhamento(){
        var sequencia1 = $('#rst-sequencia1').val();
        var sequencia2 = $('#rst-sequencia2').val();
  
        tamanho1 = sequencia1.length;
        tamanho2 = sequencia2.length;

        $.ajax({
          method: "POST",
          url: "teste",
          data: 
          { 
            act: "compararTeste", 
            sequencia1: sequencia1,
            sequencia2: sequencia2,
            tamanho1: tamanho1,
            tamanho2: tamanho2,
            csrfmiddlewaretoken: '{{ csrf_token }}' 
          },
          success: function(data){
            $(".detalhar_seq2").css('display', 'block');
            $(".detalhar_seq2").append('<div class="teste2" style="font-family: monospace; color: aquamarine;"><span style="color: white;"><b>Simulação: </b></span>' + data['teste3'] + '</div>');
          }  
        })     
      }


    </script>

    
{% endblock %}